<!-- <social> -->
  <!--email_off-->
    <a href="mailto:dsuo@cs.princeton.edu" target="_blank"><i class="fa fa-envelope fa"></i></a>
  <!--/email_off-->
  <a href="https://github.com/danielsuo" target="_blank"><i class="fa fa-github fa"></i></a> 
  <a href="http://www.linkedin.com/in/danielsuo" target="_blank"><i class="fa fa-linkedin fa"></i></a>
  <a href="http://twitter.com/danielsuo" target="_blank"><i class="fa fa-twitter fa"></i></a>
  <a href="/feed.xml" target="_blank"><i class="fa fa-rss fa"></i></a> 
<!-- </social> -->
