<footer>
  <img src='/assets/img/bronze-22BC.png' class='nand'>
  <br>
  <!--email_off-->
    <small>Complain <a href="mailto:dsuo@cs.princeton.edu" target="_blank">here</a>.</small>
  <!--/email_off-->
  <small><a href="/pubkey.txt" target="_blank">Securely</a>.</small>

  <br>

  <social>
  <ul>
    <li><a href="mailto:dsuo@cs.princeton.edu" target="_blank"><i class="fa fa-envelope fa-2x"></i></a></li>
    <!--/email_off-->
    <li><a href="https://github.com/danielsuo" target="_blank"><i class="fa fa-github fa-2x"></i></a></li> 
    <li><a href="http://www.linkedin.com/in/danielsuo" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
    <li><a href="http://twitter.com/danielsuo" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="/feed.xml" target="_blank"><i class="fa fa-rss fa-2x"></i></a></li> 
  </ul>
  </social>
</footer>
