<!doctype html>
<html>
  
  {% include head.html %}

  <body id='{{ page.title }}'>
    
    <div class='wrapper'>
      
      {% include header.html %}

      <section>

        <h2><a href='{{ page.url }}'>{{ page.title }}</a></h2>

        <p class="author">
          <span class="date">{{ page.date | date: "%-d %B %Y" }}</span>
        </p>

        <div id='container'>
          {{ content }}
        </div>

      </section>

      {% include footer.html %}
      
    </div>

    <script src='/javascripts/scale.fix.js'></script>
    {% include analytics.html %}

  </body>
</html>